@font-face {
  font-family: "GmarketSansB";
  src: url("shared/font/GmarketSansOTF 2/GmarketSansBold.otf");
}
@font-face {
  font-family: "GmarketSansL";
  src: url("shared/font/GmarketSansOTF 2/GmarketSansLight.otf");
}

@font-face {
  font-family: "GmarketSansM";
  src: url("shared/font/GmarketSansOTF 2/GmarketSansMedium.otf");
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("shared/font/Noto_Sans_KR/NotoSansKR-Regular.otf");
}
